header {
    background-color: bisque;
    text-align: center;
    padding: 2em;
}

body {
    margin: 1% 10%;
}

input {
    margin: 0px 3px;
    font-size: 18px;
}

#addSection {
    text-align: auto;
    margin: 1em;
    font-size: 18px;
}

th {
    font-size: 18px;
    text-align: left;
    padding: 8px;
    background-color: burlywood;
}

footer {
    text-align: right;
}

td {
    background-color: beige;
    font-size: 16px;
    padding: 0em 1em;
    text-align: center;
}

td button {
    margin: 1em;
    font-size: 18px;
}

.overLimit {
    background-color: lightcoral;
}