header {
    background-color: bisque;
    text-align: center;
    padding: 2em;
}

body {
    margin: 1em 15em 5em;
}

input {
    margin: 0px 3px;
    font-size: 18px;
}

#addSection h2 {
    margin: 10px;
}

#addSection button {
    float: right;
    margin: 1em;
    font-size: 18px;
}

#addSection {
    margin: 0em 0em 1em;
}

th {
    font-size: 18px;
    text-align: left;
    padding: 1em 5em 1em 1em;
    background-color: burlywood;
}

footer {
    text-align: right;
}

td {
    background-color: beige;
    font-size: 16px;
    padding: 0em 0em 0em 2em;
}

td button {
    margin: 1em 2em 1em 0em;
    font-size: 18px;
}